<%= form_for([:admin, @Download], :html => { :multipart => :true }) do |f| %>
	<% if flash[:msg] %>
	<div id="mensagem">
		<h2><%=flash[:msg]%></h2>
		<%= errors_for(@Download, "Ocorreu um erro").html_safe %>
	</div>
	<% end %>
	<label>
		Nome:<br>
		<%=f.text_field :title %><br>
	</label><br><br>
	
	<label>
			Categoria:<br>
			<%=f.select :category,([["Folhetos","1"],["Manuais","2"],["Vistas Explodidas","3"]])%>
		</label><br><br>
	<label>
		Arquivo:<br>
		<%=f.file_field :archive %><br>
	</label><br><br>
	
	<label>
		Publicado?<br>
		<%=f.radio_button :published, 0 %> Não
		<%=f.radio_button :published, 1 %> Sim  
	</label><br><br>
	
	<label>
		Ordem (1-Destaque, 10-Irrelevante): <br>
		<%= f.select(:order,options_for_select(['1','2','3','4','5','6','7','8','9','10'], @Download.order))	%>
	</label><br><br>
	
	<button type="submit">Salvar</button>
<% end %>
