<%content_for :title do%>
	Linha de Produtos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "linhas"%>
<%=stylesheet_link_tag "internalbig"%>

<script>
  jQuery(document).ready(function(){
		jQuery("#agua_potavel").mouseover(function(){
		   jQuery(".Box_img_produto").html("<%=escape_javascript(image_tag("img_produtos1.png"))%>");
		});
		
		jQuery("#aquecedores").mouseover(function(){
		   jQuery(".Box_img_produto").html("<%=escape_javascript(image_tag("img_produtos2.png"))%>");
		});
		
		jQuery("#piscinas").mouseover(function(){
		   jQuery(".Box_img_produto").html("<%=escape_javascript(image_tag("img_produtos3.png"))%>");
		});
	  });
    
</script>

<%end%>
<div id='Content_bgrepeat'>
  <div id='Content'>
    <div id='Box_produtos'>
      <div id='Box_top'>
        <%=image_tag("ico_title_internal.png")%>
 	    <h1>Produtos</h1>
	  </div>
	  <div id='Box_content'>
	    <div class='Box_img_produto'><%=image_tag("img_produtos1.png")%></div>
	    <ul>
		  <li><%=link_to "Filtros de Água Potável", linha_path(1), :id=>"agua_potavel"%></li>
		  <li><%=link_to "Aquecedores de Água a 55°C", linha_path(2), :id=>"aquecedores"%></li>
		  <li><%=link_to "Produtos para Piscinas", linha_path(3), :id=>"piscinas"%></li>
		</ul>
	  </div>
    </div>
  </div>
</div>
