<%content_for :title do%>
	Linha de Produtos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "linhas_show"%>
<%=stylesheet_link_tag "internalbig"%>
<%end%>
	<div id='Content_bgrepeat'>
		<div id='Content'>
			<div id="Title_p">
			  <h1>Produtos</h1>
			  <%= link_to image_tag("ico_title_internal.png", :width=>"19",:height=>"15",:class=>"align_detail_ico"), obras_path, :class=>"bt_textalign"%>
			</div>
			<%	@Categorias.each do |categoria| %>
			<div id="Linhas">
				<div id="Linhas_produto">
					  <div id="Linhas_img">
						<%= image_tag(categoria.image.url("image_category"), :width=>"150",:height=>"215",:class=>"align_detail")%>
					  </div>
					  <div id="Linhas_text">
							<h2><%= categoria.title%></h2>
							<br />
							<p><%= categoria.description%></p>		  
							<br />
							<p>Escolha o produto na lista abaixo:</p>
							<br />
							<% categoria.products.find(:all, :conditions => ['published = 1']).each do |p|%>
							<p><%= link_to "- " + p.title, produto_path(p.id)%></p>
							<% end %>
							<br />
					  </div>
				</div>				
			</div>
			<% end %>		

			<div class="clear"></div>
		</div>
	
  	</div>

