<%content_for :title do%>
	Downloads
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "downloads"%>
<%=javascript_include_tag "ShowSession.js"%>
<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
	 <div id="Image_internal_downloads">
	  <%=image_tag("img_download.png")%>
	 </div>   
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Downloads</h1>
	  <div id="efeito">
		<%	$i = 0
			$atual = 0
			$fundo = 0
			@Downloads.each do |donwloads|
		%>
		<% if $atual != donwloads.category %>
			<% if $atual == 0%>
				<div id="Open_download" class="Title_opened" style="cursor:pointer;" onclick="show_session(<%= $i.to_s %>, this)">
				<h2><%= mostra_categoria(donwloads.category.to_s)%></h2><div id="img_seta"></div> 
				<div class="clear"></div>
		        <div id="Session_show<%= $i%>" >
				  <ul>
			<%else%>
					</ul>
				</div>
				</div>
				<div id="Open_download" class="Title_closed" style="cursor:pointer;" onclick="show_session(<%= $i.to_s %>, this)">
				<h2><%= mostra_categoria(donwloads.category.to_s)%></h2><div id="img_seta"></div>  
				<div class="clear"></div>
		        <div id="Session_show<%= $i%>" class="hide">
					<ul>
					<% $fundo = 0%>
			<%end%>
		<% end %>		
		
		<%if $fundo == 0%>
			<li class="sem_fundo"><p><%= link_to donwloads.title, donwloads.archive.url, :target=>"_blank"%> - Tamanho: <%=number_to_human_size(donwloads.archive_file_size) %> <%= link_to image_tag("bt_download.png"), donwloads.archive.url, :target=>"_blank"%></p></li>
		<%
		$fundo = 1
		else
		%>
			<li class="com_fundo"><p><%= link_to donwloads.title, donwloads.archive.url, :target=>"_blank"%> - Tamanho: <%=number_to_human_size(donwloads.archive_file_size) %> <%= link_to image_tag("bt_download.png"), donwloads.archive.url, :target=>"_blank"%></p></li>
		<%
		$fundo = 0
		end
			$i += 1
			$atual = donwloads.category 
		%>

		<% #Inicio da Impressão dos manuais vinculados aos produtos
		if $atual == 2
			@Manuais.each do |manual|	
		%>
			<%if $fundo == 0%>
				<li class="sem_fundo"><p><%= link_to manual.title, manual.manual.url, :target=>"_blank"%> - Tamanho: <%=number_to_human_size(manual.manual_file_size) %> <%= link_to image_tag("bt_download.png"), manual.manual.url, :target=>"_blank"%></p></li>
			<%
			$fundo = 1
			else
			%>
				<li class="com_fundo"><p><%= link_to manual.title, manual.manual.url, :target=>"_blank"%> - Tamanho: <%=number_to_human_size(manual.manual_file_size) %> <%= link_to image_tag("bt_download.png"), manual.manual.url, :target=>"_blank"%></p></li>
			<%
			$fundo = 0
			end
			%>
			
		<%
			end
		end #Fim da Impressão dos manuais vinculados aos produtos
		%>		
		
		<%
			end
		%>
      </div>
	</div>
  </div>
</div>
</div>

