<%content_for :title do%>
	<%= @Dynamic_show.title%>
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "servicos"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    <%=render :file => "layouts/_menuservices.html.erb"%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	<h1><%#= @Dynamic_show.title%>Dimensione Aquecimento Piscinas</h1><br><br><br>
	  <iframe width="620" height="513" src="http://www.korewa.com.br/nautilus/planilha/" frameborder="0" allowfullscreen scrolling="no"></iframe>
	</div>
  </div>
</div>
<div id='Img_Linha' style="margin-top:300px;">
	<%=image_tag("img_linha.jpg")%>
</div>
<div id='Image_internal' style="margin-top:-462px; margin-left:20px;">
  <%=image_tag("img_servicos.png")%>
</div>
</div>