<html>
<head>
<title>NOVA MENSAGEM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<p>
	Olá <%=@Contato.name%>, sua mensagem foi enviada. <br />
	<br />
	Guarde o nº do seu protocolo para atendimento: <b><%=@Contato.id.to_s%></b>
</p>

<p>Nome: <%=@Contato.name%></p>
<p>E-mail: <%=@Contato.email%></p>
<p>Telefone: <%=@Contato.phone%></p>
<p>Empresa: <%=@Contato.company%></p>
<p>Cidade: <%=@Contato.city%></p>
<p>Estado: <%=@Contato.state%></p>
<p>Mensagem: <br />
<%=@Contato.message%> </p>
<br />
<br />
</body>
</html>