<%content_for :title do%>
	Meus Pedidos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "noticias"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Fique por dentro</h1>
	  <h2><%= @Noticia.title%></h2>
	 <br />
	  <%= raw @Noticia.body %>
      <br />
      <br />
	  <%if !@Noticia_imagens.blank?%>
      <br />	
      <h3>Clique na foto para ampliar:</h3>
      <ul>
		<%@Noticia_imagens.each do |img|%>
        <li><%=image_tag(img.image.url("thumb"))%></li>
		<% end %>
      </ul>
	  <% end %>
	</div>
  </div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_noticias.png")%>
</div>
</div>