<%content_for :title do%>
	Videos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "videos"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Videos</h1>
	  <h2>Fique por dentro de tudo que acontece na Nautilus e em seu mercado.</h2>

	  <% @Videos.each do |v| %>
		  <div id="content_video">
		    <div id="thumb_video">
			  <%=image_tag(v.image.url("video_img"), :width=>"129", :height=>"97")%>
			</div>
			  <p><%= raw v.description%></p>
			<span><%=link_to image_tag("bt_vermais.png"), video_path(v.id)%></span>
			<div class="clear"></div>
		  </div>
	  <% end %>
	  <%= (will_paginate @Videos, :prev_label => "Anterior", :next_label => "Próximo") if !@Videos.blank? %>
	</div>
  </div>
</div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_videos.png")%>
</div>
<div id='Img_Linha_H'>
	<%=image_tag("img_linha.jpg")%>
</div>