<%content_for :title do%>
	Meus Pedidos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "videos"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Videos</h1>
	  <h2>Fique por dentro de tudo que acontece na Nautilus e em seu mercado.</h2>
	  <div id="content_video">
	    <div id="thumb_video">
		  <%=image_tag("thumb_youtube.png")%>
		</div>
		  <p>Dando início aos trabalhos de abertura das vendas, para todo o mercado nacional, dos aquecedores da linha Fasterm, realizamos no último dia 19/08, em nossa fábrica em Atibaia, o primeiro treinamento técnico-comercial voltado exclusivamente para essa linha de produtos.</p>
		<span><%=image_tag("bt_vermais.png")%></span>
		<div class="clear"></div>
	  </div>
	  <div id="content_video">
	    <div id="thumb_video">
		  <%=image_tag("thumb_youtube.png")%>
		</div>
		  <p>Dando início aos trabalhos de abertura das vendas, para todo o mercado nacional, dos aquecedores da linha Fasterm, realizamos no último dia 19/08, em nossa fábrica em Atibaia, o primeiro treinamento técnico-comercial voltado exclusivamente para essa linha de produtos.</p>
		<span><%=image_tag("bt_vermais.png")%></span>
		<div class="clear"></div>
	  </div>
	  
	</div>
  </div>
</div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_videos.png")%>
</div>