<%content_for :title do%>
	<%= @Video.title%>
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "videos"%>
<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1><%= @Video.title%></h1>
	  <%= raw @Video.description%>
	  <div id='youtube'>
	    <object width="364" height="293">
			<param name="movie" value="<%=@Link%>?fs=1&amp;hl=pt_BR"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="<%=@Link%>?fs=1&amp;hl=pt_BR" type="application/x-shockwave-flash" 
				allowscriptaccess="always" 
				allowfullscreen="true" 
				width="364" height="293"></embed>
		</object>
	  </div>
	  <div id='txt_video'>
	    <p>Venha conhecer nossa área de videos. Visite agora mesmo nosso canal do YouTube.<%= link_to image_tag("img_youtube_small.png"), "http://www.youtube.com/user/nautilusequipamentos", :target => "_blank"%></p>
	  </div>
	</div>
  </div>
  </div>
</div>
<div id='Img_Linha'>
	<%=image_tag("img_linha.jpg")%>
</div>
<div id='Image_internal'>
  <%=image_tag("img_videos.png")%>
</div>
