<%content_for :title do%>
	Revendas
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalrepre"%>
<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    <%=render :file => "layouts/_menuinternal.html.erb"%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Revendas</h1>
	  <%=render :partial => "busca"%>
	  <div id='repre_bottom'>
	   
	  </div>
	</div>
  </div>
  
</div>
</div>
<div id='Img_Linha'>
	<%=image_tag("img_linha.jpg")%>
</div>