<%content_for :title do%>
	Depoimentos
<%end%>
<%content_for :head do %>
  <%= javascript_include_tag "jquery.cycle.all.min" %>
  <%=stylesheet_link_tag "internaldepo"%>
	<script>
	jQuery(document).ready(function() {	
		jQuery('#Box_depoimento').cycle({
			fx: 'fade',
			speed: 500,			
			prev: "#dep_anterior",
			next: "#dep_proximo"
			
		});
		jQuery('#Box_depoimento').cycle('pause');
	});
	</script>
<%end%>
<div id='Content_bgrepeat'>
	<div id='Content'>
	  <div id='Box_left'>
	    <%=render :file => "layouts/_menuinternal.html.erb"%>
	  </div>
	  <div id='Box_right'>
	    <%=image_tag("ico_title_internal.png")%>
	    <div id='Right_content'>
				  <h1>Depoimentos</h1>		
			<div id="Box_depoimento">
				<%@Depoimentos.each do |d| %>
				<div>
					<h2><%=d.name%> <span><%=" / "+d.company if !d.company.blank? %><%=" - "+d.position if !d.position.blank? %></span></h2>
					<%= raw d.testimonial%>
				</div>
				<% end %>
			</div>
		</div>
		<%= image_tag("bt_dep_anterior.png", :id=>'dep_anterior')%>
		<%= image_tag("bt_dep_proximo.png",  :id=>'dep_proximo')%>	
	  </div>  
	</div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_depoimentos.png")%>
</div>