<%content_for :title do%>
	<%= @Produto.title %>
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "produtos_show"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    <%=image_tag(@Produto_fotos.first.image.url("p_medio"), :class=>"produto")%>
	<%=image_tag("bt_zoom.png")%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	<h1><%= @Produto.title %></h1>
	<%= raw @Produto.description %>
	<ul>
	  <li><%=image_tag("bt_info.png")%></li>
	  <li><%=image_tag("bt_onde.png")%></li>
	  <li><%=image_tag("bt_manual.png")%></li>
	</ul>
	</div>
  </div>
  
</div>
</div>