<%content_for :title do%>
	<%= @Titulo%>
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>
<%=stylesheet_link_tag "obras_primas"%>

<%end%>
<div id='Content_bgrepeat'>
	<div id='Content'>
		<div id='Box_left'>
	  
		</div>
		<div id='Box_right'>
	    	<%=image_tag("ico_title_internal.png")%>
			<div id='Right_content'>
				<h1><%= @Titulo%></h1>
				<p>Escolha abaixo a obra que você gostaria de ver:</p>
				<div id='galeria'>	
					<%@Cases.each do |c|%>
					<div class='item_galeria'>
						<div class='item_image'>
							<%= link_to image_tag(c.image.url("c_home"),:width=>"153",:height=>"114"), obra_path(c)%>
							<div class='item_info'>
								<span class=""><%=link_to c.title, obra_path(c)%></span>
							</div>
						</div>
					</div>
					<% end%>					
				</div>
		  	</div>
		</div>
	</div>
</div>


<div id='Image_internal'>
  <%=image_tag("img_caseschild.png")%>
</div>
