<div id="Menu">
	<ul>
		<li class="institucional"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), institucional_root_path, :class=>"item_align"%></li>
		<li class="produtos"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), linhas_path, :class=>"item_align"%></li>
		<li class="servicos"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), servicos_path, :class=>"item_align"%></li>
		<li class="downloads"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), downloads_path, :class=>"item_align"%></li>
		<li class="cases"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), cases_path, :class=>"item_align"%></li>
		<li class="noticias"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), noticias_path, :class=>"item_align"%></li>
		<li class="videos"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), videos_path, :class=>"item_align"%></li>
		<li class="atendimento"><%= link_to image_tag("menu/trans.gif", :width=>"1", :height=>"1"), new_atendimento_path, :class=>"item_align"%></li>
	</ul>   
</div>