<div id="Menu">
	<ul>
		<li class="institucional"><%= link_to "• INSTITUCIONAL", institucional_root_path, :class=>"item_align"%></li>
		<li class="produtos"><%= link_to "• PRODUTOS", linhas_path, :class=>"item_align"%></li>
		<li class="servicos"><%= link_to "• SERVIÇOS", servicos_path, :class=>"item_align"%></li>
		<li class="downloads"><%= link_to "• DOWNLOADS", downloads_path, :class=>"item_align"%></li>
		<li class="cases"><%= link_to "• CASES", cases_path, :class=>"item_align"%></li>
		<li class="noticias"><%= link_to "• NOTÍCIAS", noticias_path, :class=>"item_align"%></li>
		<li class="videos"><%= link_to "• VIDEOS", videos_path, :class=>"item_align"%></li>
		<li class="atendimento"><%= link_to "• ATENDIMENTO", new_atendimento_path%></li>
	</ul>   
</div>