<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nautilus - <%=yield :title%></title>
<%= csrf_meta_tag %>
<%=stylesheet_link_tag "internal"%>
<%=javascript_include_tag "jquery"%>
<%=javascript_include_tag "abas_nautilus"%>
<%=yield :head%>
</head>
<body>
	<div id="GeneralbgFooter">
		<div id="bgCurves">
			<div id="General">
				<div id="Header">
					<%= render :file => "layouts/_topbarlogo.html.erb"%>
					<%= render :file => "layouts/_menusuperior.html.erb"%>
				</div><!-- end header -->				
                    <%=yield%>
				<div id="clear"></div>
				<div id="Footer">
                	<div id="Footer_content">
                        <div id="Footer_text">
                            Nautilus © Todos os direitos reservados.<br />
                            Rua da Bahia, 22 - Recreio Estoril Atibaia - SP - CEP 12944060 +55 11 4411.1488 
                        </div>    
                    </div>
				</div><!-- end footer -->
			</div><!-- ends general -->    
		</div><!-- ends bgcurvers -->	
	</div><!-- ends bggeneralfooter -->	
</body>
</html>
