<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel=”shortcut icon” href=”images/ico_faviconnautilus.ico” />
<link rel=”icon” href=”images/ico_faviconnautilus.ico” />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nautilus - Seja Bem vindo!</title>
<%= csrf_meta_tag %>
<%=stylesheet_link_tag "template"%>
<%=javascript_include_tag "jquery"%>
<script>
	jQuery.noConflict();
</script>
<%= javascript_include_tag "jquery.cycle.all.min" %>
<%=javascript_include_tag "abas_nautilus"%>
<script>
jQuery(document).ready(function() {	
	jQuery('#Featured_Box').cycle({
		fx: 'fade',
		speed: 3500,
		timeout: 10000,
		pager: '.featured_navigation_numbers'
	});
});
</script>
</head>

<body>
	<div id="GeneralbgFooter">
		<div id="bgCurves">
			<div id="General">
				<div id="Header">
					<%= render :file => "layouts/_topbarlogo.html.erb"%>
					<%= render :file => "layouts/_menusuperior.html.erb"%>
				</div><!-- end header -->
				<div id="Featured">
					<div id="Featured_Box">
						<!-- Inicio do Replica -->
						<%@Destaques.each do |d|%>	
						<div>
							<div class="Featured_image">
								<%= link_to image_tag(d.image.url("destaque")), d.link%>
							</div>
							<div style="position:absolute; top:83%; left:-46px;z-index:3000;display:inline-block">
								<%= image_tag("img_left_featured.png", :style=>"float:left;")%>
								<div id="Featured_title_text">
									<span><%=d.title%></span>
								</div>
							</div>
						</div>
						<%end%>
						<!-- Fim do Replica -->
					</div>					
					<div id="Featured_glass">
						
					</div>
					<div id="Featured_navigation">
						<span class="featured_navigation_numbers"></span>
					</div>
				</div><!-- end freatured -->
			
				<div id="Content">
                	<div id="Detail"><img src="images/fr_detail.png" width="1064" height="152" /></div>
					<div id="Box_left">	
						<div id="Depoimentos_box">
								<h1><img src="images/tit_depoimentos.png" width="192" height="48" /></h1><br /><br /><br />
								<p class="Dep_bc"><%= @Depoimento.first.name %><%=" / "+ @Depoimento.first.company if !@Depoimento.first.company.blank? %><%=" - "+ @Depoimento.first.position if !@Depoimento.first.position.blank? %></p> 
								<p class="Dep_data"><%= I18n.localize(@Depoimento.first.created_at, :format => "%d de %B de %Y")%></p><br />
								<p class="Dep_text">
									<span class="Leftpar_as_left">''</span>
									<%	$teste = raw @Depoimento.first.testimonial	 %>
									<%=	truncate(strip_tags($teste), :length => 150) %>
									<span class="Leftpar_as_right">"<span>
								</p>                          
								<a href="#"></a>
								<br /><br />
								<%= link_to "...ver mais", institucional_depoimentos_path, :class=>"Ver_mais_depo"%>
						</div> 					
						<div id="Noticias_box">	
							<h1 style="border-bottom:2px #d0d0d0 solid;"><img src="images/tit_noticias.png" width="169" height="54" /></h1>
                            <br /><br />
							<%@NoticiasHome.each do |n|%>
							<!--start box noticia -->
							<div id="Item_noticias">
								<div id="Photo">
									<%= image_tag(n.image.url("new_home"))%>
								</div>
								<div id="Text">
								  <h2 class="Tit_noticia"><%=n.title%></h2><br />
								  <p class="Text_noticia">
										<%=n.summary%><span class="Ver_mais"> <%= link_to "...ver mais", noticia_path(n.id), :class=>"Ver_mais" %></span>  <br />
								  </p>
								  
								</div>
							</div>
							<!--end box noticia -->
							<% end %>
    									
						</div><!-- End box noticias -->
                        		
				  </div><!-- end box left -->	       
				  <div id="Box_right">
					<div id="Planilha_box">
							<h1><img src="images/tit_planilha.png" style="margin:23px 0px 0px 180px;"/></h1>
							<div id="Planilha_box_content">
							<br /><br /><br /><br />
								<p class="bg_p_planilha1">Em breve uma ferramenta Nautilus</p>
								<p class="bg_p_planilha0">inovadora!</p>
								<p class="bg_p_planilha1">Aguardem mais informações.</p>
								<span class="Ver_mais" style="font-size:18px;"><br />
								<%= link_to "...ver mais", institucional_depoimentos_path, :class=>"Ver_mais_plani"%>
								
								
							</div>
                            
					</div>  				  
					<div id="Videos_box">
							<h1><img src="images/tit_videos.png" style="margin-left:5px;"/></h1><br />
							<%= link_to image_tag("bt_bigyoutube.jpg", :width=>"384", :height=>"188"),videos_path%>
					</div>   
 
                    <div id="Ondeencontrar_box">
                            <h1><img src="images/tit_ondeencontrar.png" width="385" height="47" /></h1>
                            <a href="#"></a>
                            <p class="Text_noticia">
                                Clique aqui e confira a nossa lista de revendas! <br>
								<span class="Ver_mais"><%= link_to "...ver mais", institucional_revendas_path, :class=>"Ver_mais"%></span>
                            </p>
                    </div>                         
			  	  </div>	
                                 
			  </div>                    																				  
				</div><!-- end Content -->
				<div id="clear"></div>
				<div id="Footer">
                	<div id="Footer_content">
						<div class="Text_place_foot">
									<span class="Text_nautilus_foot">Nautilus © </span>Todos os direitos reservados.<br />
									Rua da Bahia, 22 - Recreio Estoril-Atibaia - SP - CEP 12944-060 +55-11-4411-1488 
						</div>
						
						<div class="Logos_place_foot">
							<%= image_tag("img_logo_anappi.png", :width=>"44", :height=>"48") %>
							<%= image_tag("img_logo_abrava.png", :width=>"89", :height=>"31", :style=>"margin-left:22px;") %>
							<%= image_tag("img_logo_ah.png", :width=>"54", :height=>"48", :style=>"margin-left:22px;")%>
							<%= image_tag("img_logo_abesco.png", :width=>"53", :height=>"56", :style=>"margin-left:22px;") %>
						</div>
                    </div>
				</div><!-- end footer -->
			</div><!-- ends general -->    
		</div><!-- ends bgcurvers -->	
	</div><!-- ends bggeneralfooter -->	
</body>
</html>


