<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nautilus - Seja Bem vindo!</title>
<%= csrf_meta_tag %>
<%=stylesheet_link_tag "template"%>
<%=javascript_include_tag "jquery"%>
<%=javascript_include_tag "abas_nautilus"%>
</head>

<body>
	<div id="GeneralbgFooter">
		<div id="bgCurves">
			<div id="General">
				<div id="Header">
					<%= render :file => "layouts/_topbarlogo.html.erb"%>
					<div id="Menu">
						<ul>
							<li class="institucional"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="produtos"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="servicos"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="downloads"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="cases"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="noticias"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="videos"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>
							<li class="atendimento"><a href="#" class="item_align"><img src="images/menu/trans.gif" width="1" height="1" /></a></li>

						</ul>   
					</div>
				
				</div><!-- end header -->
				<div id="Featured">
				FREATURED


				</div><!-- end freatured -->
			
				<div id="Content">
                	<div id="Detail"><img src="images/fr_detail.png" width="1064" height="152" /></div>
					<div id="Box_left">	
						<div id="Noticias_box">	
							<h1><img src="images/tit_noticias.png" width="169" height="54" /></h1>
                            <br /><br />
							<!--start box noticia -->
							<div id="Item_noticias">
								<div id="Photo"><img src="images/img_previewnoticias.png" width="71" height="72" /></div>
								<div id="Text">
								  <h2 class="Tit_noticia">Lorem Ipsum is simply</h2><br />
								  <p class="Text_noticia">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /><br />
										Lorem Ipsum has been the industry's standard dummy text ever since the<br /><br />
										1500s, when an unknown printer took a galley  <br />
								  </p>
								  <a href="#"><p class="Veja_mais">..Veja mais</p></a>
								</div>
							</div>
							<!--end box noticia -->
							<!--start box noticia -->
							<div id="Item_noticias">
								<div id="Photo"><img src="images/img_previewnoticias.png" width="71" height="72" /></div>
								<div id="Text">
								  <h2 class="Tit_noticia">Lorem Ipsum is simply</h2><br />
								  <p class="Text_noticia">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /><br />
										Lorem Ipsum has been the industry's standard dummy text ever since the<br /><br />
										1500s, when an unknown printer took a galley  <br />
								  </p>
								  <a href="#"><p class="Veja_mais">..Veja mais</p></a>
								</div>
							</div>
							<!--end box noticia --> 
							<!--start box noticia -->
							<div id="Item_noticias">
								<div id="Photo"><img src="images/img_previewnoticias.png" width="71" height="72" /></div>
								<div id="Text">
								  <h2 class="Tit_noticia">Lorem Ipsum is simply</h2><br />
								  <p class="Text_noticia">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /><br />
										Lorem Ipsum has been the industry's standard dummy text ever since the<br /><br />
										1500s, when an unknown printer took a galley  <br />
								  </p>
								  <a href="#"><p class="Veja_mais">..Veja mais</p></a>
								</div>
							</div>
							<!--end box noticia -->     									
						</div><!-- End box noticias -->
                        
                        <div id="Agenda_de_eventos">
                       	  <h1><img src="images/tit_agendadeeventos.png" width="517" height="62" /></h1>
                            
                            <br /><br /><br /><br /><br /><br /><br /><br />
                        </div>			
				  </div><!-- end box left -->	       
				  <div id="Box_right">
					<div id="Videos_box">
							<h1><img src="images/tit_videos.png"/></h1>
                            <a href="#"><img src="images/bt_bigyoutube.jpg" width="384" height="188" /></a>
					</div>   
                    <div id="Depoimentos_box">
                            <h1><img src="images/tit_depoimentos.png" width="385" height="56" /></h1><br />
                            <p class="Dep_title">Julio César/ Gerente Motel Damy</p> 
                            <p class="Dep_data">23 julho 2011</p>,
                            <p class="Dep_text">"
                                Lorem Ipsum is simply dummy
                                text of the printing and
                                typesetting. Lorem Ipsum has
                                been the industry's standard
                                dum."
                            </p>                          
                            <a href="#"></a>
                            <br /><br /><br />
                            <a href="#"><p class="Veja_mais">..Veja mais</p></a><br />
                    </div>  
                    <div id="Ondeencontrar_box">
                            <h1><img src="images/tit_ondeencontrar.png" width="385" height="47" /></h1><br />
                            <a href="#"></a>
                            <p class="Text_noticia">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /><br />
                                Lorem Ipsum has been the industry's standard dummy text ever since the<br /><br />
                                1500s, when an unknown printer took a galley  <br />
                            </p>
                            <a href="#"><p class="Veja_mais">..Veja mais</p></a><br />
                    </div>                         
			  	  </div>	
                                 
			  </div>                    																				  
				</div><!-- end Content -->
				<div id="clear"></div>
				<div id="Footer">
                	<div id="Footer_content">
                        Nautilus © Todos os direitos reservados.<br />
                        Rua da Bahia, 22 - Recreio Estoril Atibaia - SP - CEP 12944060 +55 11 4411.1488 
                    </div>
				</div><!-- end footer -->
			</div><!-- ends general -->    
		</div><!-- ends bgcurvers -->	
	</div><!-- ends bggeneralfooter -->	
</body>
</html>
