<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel=”shortcut icon” href=”images/ico_faviconnautilus.ico” />
<link rel=”icon” href=”images/ico_faviconnautilus.ico” />
<META name='description' content='Há mais de 25 anos fabricando equipamentos e acessórios para piscinas. Acesse o site e conheça todos os nossos produtos.'>
<META name='author' content='Sato7 - Comunicação Estratégica'>
<META name='language' content='portuguese'>
<META name='keywords' content='Nautilus, filtros, bombas, piscinas, piscina, filtro, bomba, carvão, areia, carvão e areia, aquecedores, aquecimento, residencial, empresarial, hotel, motel, pousada, motobomba, aquecimento solar, bombas de calor, gerador de cloro, gerador, cloro, capa para piscina, capas para piscina, capas, acessórios, vedatrim'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nautilus - Seja Bem vindo!</title>
<%= csrf_meta_tag %>
<%=stylesheet_link_tag "template"%>
<%=javascript_include_tag "jquery"%>
<script>
	jQuery.noConflict();
</script>
<%= javascript_include_tag "jquery.cycle.all.min" %>
<%=javascript_include_tag "abas_nautilus"%>
<script>
jQuery(document).ready(function() {	
	jQuery('#Featured_Box').cycle({
		fx: 'fade',
		speed: 3500,
		timeout: 10000,
		pager: '.featured_navigation_numbers'
	});
});
</script>
</head>

<body>
	<div id='bg_top'></div>
	<div id="GeneralbgFooter">
		<div id="bgCurves">
			<div id="General">
				<div id="Header">
					<%= render :file => "layouts/_topbarlogo.html.erb"%>
					<%= render :file => "layouts/_menusuperior.html.erb"%>
				</div><!-- end header -->
				<div id="Featured">
					<div id="Featured_Box">
						<!-- Inicio do Replica -->
						<%@Destaques.each do |d|%>	
						<div>
							<div class="Featured_image">
								<%= link_to image_tag(d.image.url("destaque")), d.link, :target=>"new" %>
							</div>
							<div style="position:absolute; top:83%; left:-46px;z-index:3000;display:inline-block">
								<%= image_tag("img_left_featured.png", :style=>"float:left; visibility:hidden;")%>
								<div id="Featured_title_text">
									<span><%= link_to d.title, d.link, :target=>"new" %></span>
								</div>
							</div>
						</div>
						<%end%>
						<!-- Fim do Replica -->
					</div>					
					<div id="Featured_glass">
						
					</div>
					<div id="Featured_navigation">
						<span class="featured_navigation_numbers"></span>
					</div>
				</div><!-- end freatured -->
			
				<div id="Content">
                	
					<div id="Box_left">
						
						 	<div id="Noticias_box">	
							<h1><img src="images/tit_noticias.png" width="506" height="46" /></h1>
                            <br /><br />
							<%@NoticiasHome.each do |n|%>
							<!--start box noticia -->
							<div id="Item_noticias">
								<div id="Photo">
									<%= link_to image_tag(n.image.url("new_home")), noticia_path(n.id)%>
								</div>
								<div id="Text">
								  <h2 class="Tit_noticia"><%= link_to n.title, noticia_path(n.id) %></h2><br />
								  <p class="Text_noticia">
										<%= link_to n.summary, noticia_path(n.id) %><span class="Ver_mais"> <%= link_to "ver mais", noticia_path(n.id), :class=>"Ver_mais" %></span>  <br />
								  </p>
								  
								</div>
							</div>
						<!--end box noticia -->
							<% end %>
    									
						</div><!-- End box noticias -->
						<div id="clear"></div>
						
						<div id="Depoimentos_box">
								<h1><img src="images/tit_depoimentos.png" width="513" height="55" /></h1><br /><br /><br />
								<p class="Dep_bc"><%= link_to @Depoimento.first.name, institucional_depoimentos_path %><%=(link_to " / "+ @Depoimento.first.company, institucional_depoimentos_path) if !@Depoimento.first.company.blank? %><%= (link_to " - "+ @Depoimento.first.position, institucional_depoimentos_path) if !@Depoimento.first.position.blank? %></p> 
								<p class="Dep_data"><%= I18n.localize(@Depoimento.first.created_at, :format => "%d de %B de %Y")%></p><br />
								<p class="Dep_text">
									<span class="Leftpar_as_left">‘‘</span>
									<%	$teste = raw @Depoimento.first.testimonial	 %>
									<%=	link_to truncate(strip_tags($teste), :length => 150), institucional_depoimentos_path %>
									<span class="Leftpar_as_right">’’</span>
								</p>                          
								<a href="#"></a>
								<br /><br />
								<%= link_to "ver mais", institucional_depoimentos_path, :class=>"Ver_mais_depo"%>
						</div>
						
							
                        		
					</div><!-- end box left -->	       
					<div id="Box_right">
						<div id="Planilha_box">
								<h1><img src="images/tit_planilha.png" style="position:relative;left:0px; top:12px;"/></h1>
								<div id="Planilha_box_content">
								<br />
									<p class="bg_p_planilha1 Ver_mais_plani"><%= link_to "Acerte na escolha dos produtos para sua piscina.", "#" %><br /><%= link_to "Clique aqui e saiba como.", "#" %></p>

									
									
								</div>
								
						</div>  				  
						<div id="Videos_box">
								<h1><img src="images/tit_videos.png" style="margin-left:5px;"/></h1><br />
								<%= link_to image_tag("bt_bigyoutube.png", :width=>"383", :height=>"270"),videos_path%>
						</div>   
	 
						<div id="Ondeencontrar_box">
								<h1><img src="images/tit_ondeencontrar.png" width="385" height="47" /></h1>
								<a href="#"></a>
								<p class="Text_noticia">
									<p class="onde_link"><%= link_to "Clique aqui e confira a nossa lista de revendas!", institucional_revendas_path %></p>
									
									<form class="onde_form">
										<select>
											<option>São Paulo</option>
										</select>
									</form>
									<img src="images/map_onde_encontrar.png" style=" float:left; margin-top:-80px;"/>
								</p>
						</div>                         
					</div>                  																				  
				</div><!-- end Content -->
				<div id="clear"></div>
				
				<div id="Footer">
                	<div id="Footer_content">
						<div class="Text_place_foot">
									<span class="Text_nautilus_foot">Nautilus © </span>Todos os direitos reservados.<br />
									Rua da Bahia, 22 - Recreio Estoril-Atibaia - SP - CEP 12944-060 +55-11-4411-1488 
						</div>
						
						<div class="Logos_place_foot">
							<%= link_to image_tag("img_logo_anappi.png", :width=>"44", :height=>"48"), "http://www.anapp.org.br/", :target=>"new" %>
							<%= link_to image_tag("img_logo_abrava.png", :width=>"89", :height=>"31", :style=>"margin-left:22px;"), "http://www.abrava.com.br/", :target=>"new"  %>
							<%= link_to image_tag("img_logo_ah.png", :width=>"54", :height=>"48", :style=>"margin-left:22px;"),"#" , :target=>"new" %>
							<%= link_to image_tag("img_logo_abesco.png", :width=>"53", :height=>"56", :style=>"margin-left:22px;"), "http://www.abesco.com.br/", :target=>"new"  %>
						</div>
                    </div>
				</div><!-- end footer -->
				<div id="clear"></div>
			</div><!-- ends general -->    
		</div><!-- ends bgcurvers -->	
	</div><!-- ends bggeneralfooter -->	
	<div id='bg_footer'></div>
</body>
</html>


